.main {
    position: relative;
    /* padding: 0; */
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
}

.contentcontain {
    width: 80%; 
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.backImage {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: blue;
    z-index: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}